.orient {
    margin: auto;
    text-align: center;
}
.input-wrapper {
    background-color: white;
    border: none;
    width: 30rem;
    border-radius: 20px;
    height: 2.5rem;
    padding: 0 15px;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

input:focus {
    outline: none;
}

#search-icon {
    color: royalblue;
    position: relative;
    float: right;
}

h1 {
    color:royalblue;
}

h3 {
    margin-top: .5rem;
}

h4 {
    margin-bottom: -.5rem;
}

.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 28.77rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    height: var(--height-of-loader);
    border-radius: 30px;
    margin-top: -1.7rem;
    background-color: rgba(0,0,0,0.2);
    position: relative;
}
  
.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
}
  
@keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
}