.results-list {
    width: 240%;
    /* height: 20rem; */
    max-height: 28rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    overflow-y: scroll;
    text-decoration: none;
    color: black;
    text-align: left;
    overflow-y: scroll;
    scrollbar-width: none;
}
a {
    text-decoration: none;
    color: black;
    padding: 2rem;
}

.title_ {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    margin-bottom: .3rem;
}

.desc {
    margin: auto;
    text-align: left;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.bar {
    height: 2px;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 2px;
    background: linear-gradient(to left, transparent, #ddd, transparent);
}
